.service_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 1.5vmax;
}
.service_card h3{
    font-size: 1.3vmax;
    font-weight: bold;
    color: rgb(37,40,55);
    font-family: var(--font-poppins);
}
.service_card p{
    font-size: 0.8vmax;
    font-weight: 400;
    color: gray;
    font-family: var(--font-poppins);
    text-align: start;

}
.service_card img{
    width: 24%;
    height: 24%;
    object-fit: cover;
}
.service_card_text{
    display: flex;
    flex-direction: column;
    gap: 0.3vmax;
}
@media (max-width: 768px) {
    .service_card img{
        width: 20%;
        height: 20%;

    }
    .service_card h3{
        font-size: 1.7vmax;
    }
    .service_card p{
        font-size: 1.2vmax;
    }

}


@media (max-width: 480px) {
    .service_card{
        align-items: center;
        text-align: center;
        justify-content: center;
        
    }
    .service_card p{
        text-align: center;
        font-size: 1.2vmax;
    }
    .service_card h3{
        font-size: 1.6vmax;
    }
    .service_card img{
        width: 18%;
        height: 18%;
    }

  
}