.project_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vmax 0;
  background-color: var(--bg-primary);

}
.project_section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vmax;
    padding: 3vmax 2vmax;
    justify-content: center;
    align-items: center;

}
.btn_primary{
  background-color: #24282e;
    border-radius: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    width: 13rem;
    color: white;
    padding: 0.7vmax 0;
    border: 1px solid white;
    text-transform: uppercase;
    font-family: var(--font-poppins);
    transition: all 0.3s ease;
}
.btn_primary:hover{
  background-color:black;
  color: white;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .project_section {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn_primary{
    width: 12.5rem;
  }
}

@media (max-width: 480px) {
  .project_section {
    grid-template-columns: 1fr;
    

  }
  .btn_primary{
    width: 13rem;
  }
}
