.project_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 1.5vmax;
    position: relative;

}
.project_card_content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vmax;
}
.project_card_content:hover{
    background-color: rgba(0,0,0,0.2);
}
.project_card img{
    width: 30vw;
    height: 20vw;
    object-fit:cover;
}

@media (max-width: 768px) {
    .project_card img{
        width: 45vw;
        height: 30vw;
    }
    .project_card_content{
        gap: 0.5vmax;
    }

}

@media (max-width: 480px) {
    .project_card img{
        width: 90vw;
        height: 50vw;
    }
    .project_card_content{
        gap: 0.5vmax;
    }
}